.header2-mobile-menu em {
  background: #000000 !important;
}
.overlay {
  background: rgba(48, 107, 109, 0.36);
  height: 100%;
}
/* .banner0 {
  background: rgba(48, 107, 109, 0.36) !important;
} */
